<%= link_to 'New Car', new_car_path %>
<table>
  <thead>
  <tr>
    <td>Make</td>
    <td>Model</td>
    <td>Year</td>
    <td>Price</td>
  </tr>
  </thead>
  <tbody>
  <% @cars.each do |car| %>
    <tr>
      <td><%= car.make %></td>
      <td><%= car.model %></td>
      <td><%= car.year %></td>
      <td><%= number_to_currency(car.price) %></td>
      <td><%= link_to 'Show', car %></td>
      <td><%= link_to 'Edit', edit_car_path(car) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
