<h1><%= "#{@car.year} #{@car.make} #{@car.model}" %></h1>

<p>
  Year: <%= @car.year %> <br>
  Make: <%= @car.make %> <br>
  Model: <%= @car.model %> <br>
  Price: <%= @car.price %> <br>

  <%= link_to 'Back', root_path %>
</p>
